* {
  padding: 0;
  margin: 0;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
body {
  font-size: 12px;
  font-family: "微软雅黑";
  background: url(../images/body.png);
}
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.header {
  padding: 25px 0 45px;
}
.header .head {
  width: 980px;
  margin: 0 auto;
}
.header .head .logo {
  height: 50px;
  text-align: center;
}
.header .head .nav {
  padding-top: 15px;
  width: 620px;
  margin: 0 auto;
}
.header .head .nav li {
  float: left;
  width: 206px;
  text-align: center;
}
.header .head .nav li a {
  font-size: 16px;
  color: #000;
}
.banner {
  height: 400px;
  margin-bottom: 55px;
}
.banner img {
  width: 100%;
  height: 400px;
}
.main {
  width: 980px;
  padding: 0 12px;
  margin: 0 auto;
}
.main td {
  text-align: center;
  margin: 0 12px;
  display: table-cell;
}
.main td h3 {
  color: #ec018a;
  margin: 20px 0 18px;
  font-size: 18px;
}
.main td p {
  margin-right: 15px;
  text-align: left;
  text-indent: 20px;
}
.main .way {
  margin-top: 90px;
  margin-bottom: 80px;
}
.main .way h3 {
  text-align: center;
  font-size: 24px;
  color: #ec018a;
}
.main .way .empty {
  height: 50px;
  background: url(../images/q.png) no-repeat;
  background-position: center;
}
.main .way p {
  color: #ec018a;
  line-height: 20px;
  text-align: left;
}
.main p {
  text-align: center;
}
.main p span {
  font-size: 16px;
}
.main p img {
  display: block;
  margin: 15px auto 0;
}
.introduce {
  width: 980px;
  margin: 0 auto;
}
.introduce .introduce_main {
  position: relative;
  width: 621px;
  margin: 0 auto;
  padding: 120px 135px 180px 200px;
  background-size: 100% 100%;
  overflow: hidden;
}
.introduce .introduce_main h3 {
  font-size: 24px;
  height: 40px;
  text-align: center;
  color: #ed0084;
  margin-top: 35px;
}
.introduce .introduce_main p {
  text-indent: 20px;
  line-height: 25px;
}
.procedure {
  width: 900px;
  padding: 90px 40px 160px;
  margin: 128px auto 0;
  background: #fff;
  position: relative;
}
.procedure h3 {
  font-size: 24px;
  color: #ed0084;
  text-align: center;
}
.procedure .text {
  padding-left: 55px;
  background: url(../images/p.png) no-repeat;
  line-height: 30px;
  color: #ed017f;
  margin-top: 40px;
}
.procedure .img {
  text-align: center;
  margin-top: 20px;
}
.procedure .img_top {
  width: 414px;
  height: 153px;
  position: absolute;
  top: -70px;
  left: 278px;
  background: url(../images/top.png) no-repeat;
}
.procedure .img_bot {
  width: 414px;
  height: 153px;
  background: url(../images/bot.png) no-repeat;
  position: absolute;
  bottom: -70px;
  left: 278px;
}
.footer {
  margin-top: 100px;
  height: 120px;
  line-height: 120px;
  font-size: 16px;
  text-align: center;
}
